@use "sass:color";

@keyframes loader-fadeout {
    0% {
        opacity: 1;
        z-index: 3;
    }
    90% {
        opacity: 0;
        z-index: 3;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
    
}

@keyframes title-slidein {
    0% {
        opacity: 0;
		visibility: hidden;
        transform: translateY(15px);
    }
    100% {
        opacity: 1;
		visibility: visible;
        transform: translateY(0);
    }
}

@keyframes p-slidein {
    0% {
        opacity: 0;
		visibility: hidden;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
		visibility: visible;
        transform: translateY(0);
    }
}

@keyframes left-slidein {
    0% {
        opacity: 0;
		visibility: hidden;
        transform: translateX(-15px);
    }
    100% {
        opacity: 1;
		visibility: visible;
        transform: translateX(0);
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
		visibility: hidden;
    }
    100% {
        opacity: 1;
		visibility: visible;
    }
}

@keyframes cloud-bottomleft {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    32% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1.1);
    }
}

@keyframes cloud-middleright {
    0% {
        opacity: 0;
        transform: translateX(20px) scale(.4);
    }
    25% {
        opacity: 0;
        transform: translateX(20px) scale(.4);
    }
    100% {
        opacity: .8;
        transform: translateY(0) scale(.4);
    }
}


@keyframes cloud-middleleft {
    0% {
        opacity: 0;
        transform: translateX(-20px) scale(.3);
    }
    27% {
        opacity: 0;
        transform: translateX(-20px) scale(.3);
    }
    100% {
        opacity: .75;
        transform: translateY(0) scale(.3);
    }
}

@keyframes cloud-topright {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    35% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes contact-fadein {
    0% {
        opacity: 0;
		visibility: hidden;
        transform: translateX(5px);
    }
    35% {
        opacity: 0;
        transform: translateX(5px);
    }
    100% {
        opacity: 1;
		visibility: visible;
        transform: translateY(0);
    }
}

@keyframes contact-separator {
    0% {
        transform: scaleX(0);
    }
    35% {
        transform: scaleX(0);
    }
    100% {
        opacity: 1;
        transform: scaleX(1);
        transform-origin: 100%;
    }
}

@keyframes ornament-separator {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

@keyframes sparkle-grow-0 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(.4);
    }
}

@keyframes sparkle-grow-1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(.6);
    }
}

@keyframes sparkle-grow-2 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(.9);
    }
}

@keyframes sparkle-grow-3 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(.8);
    }
}

@keyframes sparkle-grow-4 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(.5);
    }
}

@keyframes sparkle-grow-5 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(.3);
    }
}

$loader-duration: 1.2;
$min-delay: .4;
$header-delay: .8;

// Colours
$black: #2d3639;
$white: #fcfdfd;
$bg-primary: #e8f1f2;
$bg-secondary: #d1dfe1;
$sparkle: #cecbe5;
$sky: #7bb7cb;
$cloud-shadow: #efe5f2;
$link: #947fb3;
$link-secondary: #0084ae;
$lightergrey: #bdc7cb;
$highlight: #d3c5d8;
$highdark: #c3b3c8;
$valid: #e0f3cd;
$tag-colours: (
    "algo": #7dc2ba,
    "dl": #79bbd4,
    "nlp": #be9ece,
    "imagep": #95a1dd,
    "prog": #e0a4a1,
    "env": #a3c2d1,
    "web": #e7b881,
    "sql": #c9bdae,
    "android": #a3cb7b,
    "design": #deafd0
);
$tag-accents: (
    "undefined": $highlight,
    "algo": #b4d4d0,
    "android": #bdd1a7,
    "deepl": #b7d2db,
    "imagep": #c2c9e3,
    "prog": #e6cccc,
    "web": #e4d0b4
);

body {
    padding: 0;
    background-color: $bg-primary;
    color: $black;
    font-family: 'Work Sans', sans-serif;
    letter-spacing: -.02em;
}

.loader {
    background-color: $bg-secondary;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    animation: loader-fadeout .7s #{$loader-duration - .5}s both;
}

header {
    padding-top: 2em;
    padding-bottom: 3.1em;
    text-align: center;
}

.bg-primary {
    background-color: $bg-primary;
}

.bg-secondary {
    background-color: $bg-secondary;
}

.no-margin {
    margin: 0;
}

.center {
    display: flex;
    justify-content: center;
}

.title-sparkles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.sparkle, .sparkles-left, .sparkles-right {
    display: flex;
    position: relative;
}

.sparkle--0 {
    top: -1.5em;
    left: 2.8em;
    animation: sparkle-grow-0 .5s;
    animation-delay: #{$loader-duration+.4}s;
    animation-fill-mode: both;
    transform-origin: 75%;
}

.sparkle--1 {
    top: -2.9em;
    left:-.5em;
    animation: sparkle-grow-1 .5s;
    animation-delay: #{$loader-duration+.5}s;
    animation-fill-mode: both;
    transform-origin: 75%;
}

.sparkle--2 {
    top: -3.9em;
    left: .5em;
    animation: sparkle-grow-2 .5s;
    animation-delay: #{$loader-duration+.6}s;
    animation-fill-mode: both;
    transform-origin: 75%;
}

.sparkle--3 {
    top: 0;
    left: -1.1em;
    animation: sparkle-grow-3 .5s;
    animation-delay: #{$loader-duration+.65}s;
    animation-fill-mode: both;
    transform-origin: 75%;
}

.sparkle--4 {
    top: 1.5em;
    left: -4.1em;
    animation: sparkle-grow-4 .5s;
    animation-delay: #{$loader-duration+.55}s;
    animation-fill-mode: both;
    transform-origin: 75%;
}

.sparkle--5 {
    top: 2em;
    left: -3.5em;
    animation: sparkle-grow-5 .5s;
    animation-delay: #{$loader-duration+.45}s;
    animation-fill-mode: both;
    transform-origin: 75%;
}

.sparkle div {
    background-color: $sparkle;
    border-radius: 50%;

    &:first-child {  
        width: 40px;
        height: 10px;
    }
    &:nth-child(2) {
        height: 40px;
        width: 10px;
        margin-top: -15px;
        margin-left: -25px;
    }
}

h1, h3 {
    font-family: 'Fraunces', serif ;
    font-style: normal;
    transition: text-shadow 0.3s;
}

h1 {
    margin: .2em .6em .25em;
    font-size: 4.5em;
    font-weight: 600;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
    line-height: .9em;
    animation: title-slidein 1.2s #{$loader-duration}s both;
}

h1:hover {
    text-shadow: 7px 7px 0px rgba(0,0,0,0.1);
}

h2 {
    margin-top: -.9em;
    margin-bottom: 0;
    font-size: 1.9em;
    font-weight: 300;
}

header h2 {
    animation: title-slidein 1s #{$loader-duration+.25}s backwards;
}

h3 {
    font-weight: 500;
    //font-style: italic;
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 0;
    margin-left: .7em;
    margin-right: .7em;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.1);
}

/* .pro h3 {
    animation-delay: #{$loader-duration+.65}s;
}
.uni h3 {
    animation-delay: #{$loader-duration+1.7}s;
}
.art h3 {
    animation-delay: #{$loader-duration+3.3}s;
} */

h3:hover {
    text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
}

h4 {
    font-weight: 500;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.07);
}

b {
    font-weight: 600;
}

img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

hr {
    border-top: 1px solid $lightergrey;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

.about {
    margin: 0 4em;
    padding-top: 3.1em;
    padding-bottom: 6em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7em;
}

.about p {
    margin-top: 0;
    margin-bottom: .75em;
    font-weight: 400;
    font-size: 1.12em;

    animation: 1.5s p-slidein #{$loader-duration+.4}s both;
}

.bio {
    max-width: 500px;
}

.bio .tags {
    max-width: 380px;
}

.bio .tags span {
    animation: 1s p-slidein;
    animation-fill-mode: backwards;

    @for $i from 1 to 10 {
        &:nth-of-type(#{$i}) {
            animation-delay: #{$loader-duration+.5+$i*.1}s;
        }
    }
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: .3em;
}

.tags span {
    background-color: $lightergrey;
    border-radius: 7px;
    padding: 2px 6px 3px 6px;
    color: white;
    font-size: .8em;
    font-family: 'Fira Mono', monospace;
    letter-spacing: 0;
    white-space: nowrap;
}

@each $tag-name, $tag-colour in $tag-colours {
    .tags .#{$tag-name} {
        transition: background-color 0.3s;
    }
    .tags .#{$tag-name}:not(.nonhoverfilter) {
        background-color: $tag-colour;
    }
}

@each $tag-name, $tag-colour in $tag-colours {
    .about .tags .#{$tag-name}:hover, .projects__card:hover .tags .#{$tag-name}, .projects__card.hover .tags .#{$tag-name}:not(.nonhoverfilter), .project__page .tags .#{$tag-name}:hover, .filter .#{$tag-name}:not(.selected):hover, .filter .#{$tag-name}:hover {
        background-color: color.adjust($tag-colour, $lightness: -8%);
    }
}

.portrait {
    position: relative;
    animation: fadein 1.2s #{$loader-duration+.5}s backwards;

    &__sky {
        height: 220px;
        width: 215px;
        background-color: $sky;
        background: linear-gradient(0deg, (color.adjust($sky, $lightness: +15%)) 0%, $sky 100%);
        border-radius: 50% 50% 10px 10px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        overflow: hidden;
    }

    &__shadow {
        box-shadow: inset 12px 5px 0 rgba(0, 0, 0, 0.1);
        height: 220px;
        width: 215px;
        position: absolute;
        border-radius: 50% 50% 10px 10px;
        z-index: 1;
        transition: box-shadow .4s;
    }

    &__cloud {
        background-color: $white;
        width: 100px;
        height: 30px;
        border-radius: 50px;
        position: absolute;
        transition: transform 0.4s ease;

        &--bottomleft {
            left: -30px;
            bottom: -12px;
            transform: scale(1.1);
            z-index: 2;
            animation: cloud-bottomleft 1.3s #{$loader-duration+.2}s;
        }

        &--topright {
            left: 130px;
            bottom: 140px;
            z-index: 1;
            animation: cloud-topright 1.3s #{$loader-duration+.2}s;
        }

        &--middle {
            z-index: 1;
            position: relative;

            &left {
                top: -100px;
                left: -45px;
                transform: scale(.3);
                opacity: .75;
                animation: cloud-middleleft 1.5s #{$loader-duration+.2}s;
            }

            &right {
                top: -40px;
                left: 25px;
                transform: scale(.4);
                opacity: .8;
                animation: cloud-middleright 1.5s #{$loader-duration+.2}s;
            }
        }

        & div {
            background-color: $white;
            border-radius: 50%;
            position: absolute;
            box-shadow: inset -8px -5px 7px $cloud-shadow;

            &:first-child {
                width: 80px;
                height: 50px;
                bottom: -10px;
                left: -10px;
                z-index: 2;
            }
            &:nth-child(2){
                width: 72px;
                height: 42px;
                bottom: -5px;
                left: 40px;
                z-index: 2;
            }
            &:nth-child(3){
                width: 60px;
                height: 35px;
                bottom: 20px;
                left: 30px;
                z-index: 1;
            }
            &:nth-child(4){
                width: 60px;
                height: 35px;
                bottom: -20px;
                left: 30px;
                z-index: 2;
            }
        }
    }

    &:hover &__shadow {
        box-shadow: inset 15px 7px 0 rgba(0, 0, 0, 0.1);
    }

    &:hover &__cloud--bottomleft {
        transform: scale(1.1) translateX(-13px) translateY(4px);
    }

    &:hover &__cloud--topright {
        transform: translateX(15px) translateY(-5px);
    }

    &:hover &__cloud--middleleft {
        transform: scale(.3) translateX(-10px) translateY(-4px);
    }

    &:hover &__cloud--middleright {
        transform: scale(.4) translateX(10px) translateY(3px);
    }

    &:hover hr {
        width: 2.8em;
    }

    &__img {
        height: 210px;
        z-index: 2;
        position: absolute;
    }

    &__contact {
        display: flex;
        flex-direction: row;
        gap: .7em;
        position: absolute;
        right: 0;
        font-size: 1.1em;
        padding-top: .5em;
        animation: contact-fadein 1.3s #{$loader-duration+.3}s backwards;

        &--separator {
            width: 2.5em;
            transition: width .4s ease;
            animation: contact-separator 1.3s #{$loader-duration}s backwards;
        }

        &--link {
            color: $link;
            transition: color .3s;

            &:hover {
                color: color.adjust($link, $lightness: -10%);
            }

            &:first-of-type {
                margin-top: -.05em;

                .fa-solid {
                    font-size: .9em;
                }
            }
        }
    }
}

.show-on-scroll:not(.onview-animation) > * {
    visibility: hidden;
}

.onview-animation {

    &.pro.onview-animation--next {
        & h3 {
            animation-delay: #{$loader-duration+$header-delay}s;
        }

        & .projects {
            &__ornament {
                & .fa-solid {
                    animation-delay: #{$loader-duration+$header-delay+.35}s;
                }
    
                & hr {
                    animation-delay: #{$loader-duration+$header-delay+.45}s;
                }
            }
        }

        & .projects__list .projects__item {
            @for $i from 1 to 5 {
                &:nth-of-type(#{$i}) {
                    animation-delay: #{$loader-duration+$header-delay+.4+$i*.1}s;
                }
            }
        }

        & .quotes {
            &__icon {
                animation-delay: #{$loader-duration+$header-delay+1.15}s;
            }
        
            &__text {
                animation-delay: #{$loader-duration+$header-delay+1}s;;
            }
        }
    }

    &.edu.onview-animation--next {
        & h3 {
            animation-delay: #{$loader-duration+$header-delay+1.25}s;
        }

        & .projects {
            &__ornament {
                & .fa-solid {
                    animation-delay: #{$loader-duration+$header-delay+1.6}s;
                }
    
                & hr {
                    animation-delay: #{$loader-duration+$header-delay+1.7}s;
                }
            }
        }

        & .education {
            &__diploma {
                @for $i from 1 to 5 {
                    &:nth-of-type(#{$i}) {
                        animation-delay: #{$loader-duration+$header-delay+1.65+$i*.1}s;
                    }
                }
            }
        }
    }

    & h3 {
        animation: title-slidein 1s;
        animation-fill-mode: backwards;
        animation-delay: #{$min-delay}s;
    }

    & .projects {
        &__ornament {
            & .fa-solid {
                animation: fadein 1s;
                animation-fill-mode: backwards;
                animation-delay: #{$min-delay+.35}s;
            }

            & hr {
                animation: ornament-separator .8s;
                animation-fill-mode: backwards;
                animation-delay: #{$min-delay+.45}s;
            }
        }

        &__item {
            animation: title-slidein .75s backwards;
        
            &.no-delay {
                animation-duration: .5s;
            }
        }
    }

    & .quotes {
        &__icon {
            animation: left-slidein .75s backwards;
			animation-delay: #{$min-delay+1.15}s;
        }
    
        &__text {
            animation: left-slidein .75s backwards;
			animation-delay: #{$min-delay+1}s;
        }
    }

    & .education {
        &__diploma {
            animation: left-slidein .75s backwards;

            @for $i from 1 to 5 {
                &:nth-of-type(#{$i}) {
                    animation-delay: #{$min-delay+.4+$i*.1}s;
                }
            }
        }
    }

    & .filter {
        animation: title-slidein 1s #{$min-delay+.4}s backwards;
    }

    &.pro {
        & .projects__list .projects__item {
            @for $i from 1 to 5 {
                &:nth-of-type(#{$i}) {
                    animation-delay: #{$min-delay+.4+$i*.1}s;
                }
            }
        }
    }

    &.uni { 
		& .projects__list .projects__item {
			@for $i from 1 to 21 {
				&:nth-of-type(#{$i}) {
					animation-delay: #{$min-delay+.4+$i*.05}s;
				}
			}
			&.no-delay {
				@for $i from 1 to 21 {
					&:nth-of-type(#{$i}) {
						animation-delay: #{$i*.03}s;
					}
				}
			}
		}
    }

	&.art {
    	& .projects__list .projects__item {
			@for $i from 1 to 3 {
				&:nth-of-type(#{$i}) {
					animation-delay: #{$min-delay+.4+$i*.1}s;
				}
			}
		}
	}

    &.perso {
        & .projects__list .projects__item {
            @for $i from 1 to 9 {
                &:nth-of-type(#{$i}) {
                    animation-delay: #{$min-delay+.4+$i*.1}s;
                }
            }
        }
    }
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4em;

    &__ornament {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1em;
        margin-bottom: 1.5em;
        margin-top: .4em;
        color: $lightergrey;

		& hr {
			transition: transform .3s;
		}

		& hr:first-child {
			transform-origin: right center;
		}

		& hr:nth-of-type(2) {
			transform-origin: left center;
		}
    }

	&:hover &__ornament hr {
		transform: scaleX(1.35);
	}

    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1.5em;
        justify-content: center;
        max-width: 1500px;
        margin: 0 1em;
    }
    &__item {
        text-decoration: none;
        color: $black;
    }
    &__card {
        padding: 1em;
        background-color: $white;
        border-radius: 15px;
        display: flex;
        gap: .9em;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
        transition: box-shadow .3s;

        &:hover, &.hover {
            box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.23);
            transition: box-shadow .3s;

            & img {
                opacity: 100%;
                transition: opacity 0.3s;
            }

            & .pro__reficon {
                color: color.adjust($link, $lightness: +7%);
            }
        }
    }
    & img {
        opacity: .8;
        transition: opacity 0.3s;
    }
    &__dates {
        font-size: .85em;
        color: grey;
    }
    &__link {
        color: color.adjust($sky, $lightness: -25%);
        text-decoration: none;
        transition: color .3s;

        &:hover {
            color: color.adjust($sky, $lightness: -42%);
        }
    }
}

@each $tag-name, $tag-colour in $tag-accents {
    .projects__accent--#{$tag-name} {
        border-bottom: $tag-colour solid 2px;
        transition: box-shadow .3s, border-bottom-color .3s;
    }

    .projects__card:hover.projects__accent--#{$tag-name} {
        border-bottom-color: color.adjust($tag-colour, $lightness: -8%);
    }

    .uni__project.projects__accent--#{$tag-name} {
        border-bottom-color: color.adjust($tag-colour, $lightness: -5%);
    }

    .uni__project.hover.projects__accent--#{$tag-name}, .uni__project:hover.projects__accent--#{$tag-name} {
        border-bottom-color: color.adjust($tag-colour, $lightness: -13%);
    }

    .uni__project--nonhover.projects__accent--#{$tag-name} {
        border-bottom-color: $lightergrey;
    }
}

.pro {
    &__separator {
        width: 6em;
    }
    &__project {
        width: 290px;
        flex-direction: column;
        //border-bottom: $highlight solid 1px;
    }
    &__header {
        display: flex;
        flex-direction: row;
        gap: .8em;
        align-items: center;
    }
    &__footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: end;
    }
    &__reficon {
        color: color.adjust($link, $lightness: +27%);
        transition: color .3s;
    }
    &__img {
        height: 35px;
    }
    &__desc {
        font-size: .9em;
    }
}

.uni {
    &__separator {
        width: 5.8em;
    }
    &__project {
        flex-direction: row;
        width: 305px;
        align-items: center;
        //border-bottom: $highdark solid 1px;
        &--nonhover {
            filter: opacity(.5);
            transition: all .3s;

            & img {
                filter: grayscale(1);
                transition: all .3s;
            }
        }
    }
    &__img {
        height: 70px;
        width: 70px;
    }
}

.edu {
    &__separator {
        width: 3.1em;
    }
}

.perso {
    &__separator {
        width: 4em;
    }

    &__project {
        flex-direction: row;
        width: 305px;
        align-items: center;
        //border-bottom: $highlight solid 1px;
        //align-items: flex-start;
    }

    &__img {
        height: 70px;
        border-radius: 8px;
    }
}

.art {
    &__separator {
        width: 4em;
    }
    &__project {
        flex-direction: row;
        width: 350px;
        border-bottom: $highlight solid 2px;
        
        &:nth-of-type(2) {
            width: 345px;
        }
    }
    &__img {
        width: 105px;
        height: 105px;
        object-fit: cover;
        border-radius: 6px;
    }
    &__desc {
        font-size: .9em;
    }
}

.projects__ornament--darker {
    color: color.adjust($lightergrey, $lightness: -7%);

    & hr {
        border-top-color: color.adjust($lightergrey, $lightness: -7%);
    }
}

.uni__project .projects__dates, .art__project .projects__dates, .perso__project .projects__dates {
    margin: 0 0 1em 0;
}

.quotes {
    display: flex;
    flex-direction: column;
    margin-top: 2.8em;
    padding-left: 2.5em;
    padding-right: 2.5em;
    max-width: 900px;
    gap: 2em;

    &__item {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 1.7em;
    }

	&__icon {
		color: $sparkle;
		font-size: 2.5em;
	}

	&__text {
		margin: 0;
	}

    &__author {
        margin-left: 2.3em;
        font-size: .9em;
    }

    &__name {
        text-transform: uppercase;
        font-size: .9em;
    }
}

.education {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1500px;
    margin-top: .8em;
    padding-left: 2.5em;
    padding-right: 2.5em;
    gap: 6em;

    & p {
        margin: 0;
    }

    &__diploma {
        display: flex;
        flex-direction: column;
        padding-bottom: 0;
    }

    &__year {
        font-weight: 600;
        font-size: 1.1em;
        color: $link;
    }

    &__title {
        font-weight: 800;
        font-size: 1.9em;
    }

    &__field {
        font-weight: 600;
    }

    &__city {
        color: color.adjust($lightergrey, $lightness: -25%);
        font-size: .8em;
    }

    &__icon {
        font-size: .8em;
        color: color.adjust($lightergrey, $lightness: -25%);
    }
}

.filter {
    color: color.adjust($lightergrey, $lightness: -25%);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5em;
    font-size: .85em;
    margin-bottom: 1em;

    & .tags {
        justify-content: center;
        margin: 0 .3em;

        & span {
            cursor: pointer;

            &:not(.selected) {
                background-color: color.adjust($lightergrey, $lightness: -9%);
            }
        }
    }
    
}

.project {
    &__page {
        padding: 2em;
        margin-top: 3em;
        margin-bottom: 3em;
        background-color: $white;
        border-radius: 15px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
        min-width: 500px;
        max-width: 900px;

        & .tags span {
            animation: 1s p-slidein;
            animation-fill-mode: backwards;
            
            @for $i from 1 to 12 {
                &:nth-of-type(#{$i}) {
                    animation-delay: #{$loader-duration+.6+$i*.05}s;
                }
            }
        }

        & table {
            margin-top: .5em;
            font-size: .9em;
            color: color.adjust($black, $lightness: +15%);
            border-collapse: collapse;
            border-radius: .7em;
            overflow: hidden;
            transition: border-radius .3s;

            &:hover {
                border-radius: .35em;
            }

            & th, td {
                padding: .3em .9em;
                text-align: right;

                &.mono {
                    font-family: 'Fira Mono', monospace;
                    font-size: .9em;
                }
            }
            & tr {
                & th.green, & td.green {
                    color: color.adjust(#bfd8a7, $lightness: -47%);
                }
                &:not(:last-child) {
                    & th, & td {
                        border-bottom: 1px solid color.adjust($lightergrey, $lightness: +10%);
                    }
                    & th.green, & td.green {
                        border-bottom: 1px solid #bfd8a7;
                    }
                }
                &:nth-child(even) {
                    background-color: color.adjust($white, $lightness: -3%);

                    & th.green, & td.green {
                        background-color: color.adjust($valid, $lightness: -6%);
                    }
                }
                &:nth-child(odd) {
                    background-color: $white;

                    & th.green, & td.green {
                        background-color: $valid;
                    }
                }
                &:nth-child(even):hover, &:nth-child(odd):hover {
                    background-color: color.adjust($white, $lightness: -7%);

                    & th.green, & td.green {
                        background-color: color.adjust($valid, $lightness: -12%);
                    }
                }
            }
        }

        & figcaption {
            font-size: .85em;
            color: color.adjust($lightergrey, $lightness: -30%);
            font-style: italic;
            margin-top: .3em;
        }
    }

    &__icon {
        color: color.adjust($lightergrey, $lightness: -10%);
        margin-right: .3em;
        text-align: center;
        width: 1em;
    }

    &__navigation {
        font-size: 1.4em;
        display: flex;
        flex-direction: column;
        gap: .7em;
        position: absolute;
        margin-left: -4em;
        margin-top: -.5em;

        & .fa-solid {
            color: color.adjust($lightergrey, $lightness: -10%);
            text-align: center;
            transition: color .3s;

            &:hover {
                color: color.adjust($lightergrey, $lightness: -25%);
            }
        }

        &--hidden {
            display: none;
        }
    }

    &__title {
        animation: title-slidein 1s #{$loader-duration+.1}s backwards;

        & .projects__link {
            color: $link-secondary;
    
            &:hover {
                color: color.adjust($link-secondary, $lightness: -15%);
            }
        }
    }

    &__dates {
        font-size: 1.1em;
        color: color.adjust($lightergrey, $lightness: -30%);
        margin: 0;
        animation: title-slidein 1s #{$loader-duration+.2}s backwards;
    }

    &__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1em;
    }

    &__logo {
        height: 4.2em;
        animation: title-slidein 1s #{$loader-duration}s backwards;
    }

    &__mission {
        font-size: 1em;
        margin-bottom: .5em;
        animation: p-slidein 1s #{$loader-duration+.45}s backwards;

        &:nth-of-type(n + 2) {
            animation-delay: #{$loader-duration+1}s;
        }

    }

    &__credits {
        font-size: .85em;
        color: color.adjust($lightergrey, $lightness: -5%);
        font-style: italic;
        margin-top: 2.5em;
        animation: p-slidein 1s #{$loader-duration+1}s backwards;

        & a {
            color: color.adjust($lightergrey, $lightness: -5%);
            transition: color .3s;
    
            &:hover {
                color: color.adjust($lightergrey, $lightness: -20%)
            }
        }
    }

    &__info {
        font-size: .95em;
        color: color.adjust($black, $lightness: +15%);
        animation: p-slidein 1s #{$loader-duration+1}s backwards;
    }

    &__context {
        margin-top: 1.5em;
    }

    &__image {
        margin-top: 0;
        max-width: 100%;
        vertical-align: top;
    
        &--rounded {
            border-radius: .7em;
            transition: border-radius .3s;
            margin: .5em 0 0;
        }
    
        &--rounded:hover {
            border-radius: .35em;
        }
    }

    &__gallery {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        animation: p-slidein 1s #{$loader-duration+1}s backwards;
    
        &--1 {
            gap: 1em;
        }
    
        &--2 {
            gap: 1.5em;
        }
    
        &--2h {
            gap: 1.5em;
            flex-wrap: nowrap;
        }
    
        &--3, &--3v {
            gap: 1em;
        }
    
        &--4 {
            gap: .7em;
        }
    
        &--5, &--5h {
            gap: .4em;
            margin-top: -1em;
        }

        &__img--1 {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
        &__img--2 {
            max-width: 48%;
        }
    
        &__img--3, &__img--3v {
            max-width: 32%;
        }
    
        &__img--4 {
            max-width: 24%;
        }
    
        &__img--5, &__img--5h {
            max-width: 19%;
    
            &:first-child img {
                border-radius: .5em 0 0 0;
            }
    
            &:nth-child(5) img {
                border-radius: 0 .5em 0 0;
            }
    
            &:nth-last-child(5) img {
                border-radius: 0 0 0 .5em;
            }
    
            &:last-child img {
                border-radius: 0 0 .5em 0;
            }
    
            & img {
                transition: border-radius .3s;
            }
    
            & img:hover {
                border-radius: .7em;
            }
        }

        &__p5script {
            max-width: 100% !important;
            width: auto !important;
            height: auto !important;
            margin: 3em 0;
        }
    }
    

    &__button {
        margin-top: 3em;
        margin-bottom: 2em;
        text-align: center;
        animation: p-slidein 1s #{$loader-duration+1}s backwards;

        & .project__link {
            padding: 1em 1.3em;
            color: color.adjust($link-secondary, $lightness: -5%); 
            text-decoration: none;
            border: 1px solid $sky;
            border-bottom: 3px solid $sky;
            border-radius: 30px;
            text-transform: uppercase;
            font-weight: 400;
        
            transition: all .3s;
        }

        &:hover .project__link {
            color: color.adjust($link-secondary, $lightness: -20%);
            border: 1px solid color.adjust($sky, $lightness: -15%);
            border-bottom: 3px solid color.adjust($sky, $lightness: -15%);
            background-color: color.adjust($sky, $lightness: +30%);
        }
    }
}

.rounded {
    border-radius: .7em;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);

    transition: border-radius .3s, box-shadow .4s;

    &:hover {
        border-radius: .35em;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }
}

footer {
    text-align: center;
    padding-bottom: 1em;
    font-size: .75em;

    &.bg-primary {
        color: $lightergrey;

        & a {
            color: $lightergrey;
            transition: color .3s;
    
            &:hover {
                color: color.adjust($lightergrey, $lightness: -10%)
            }
        }
    }

    &.bg-secondary {
        color: color.adjust($lightergrey, $lightness: -15%);

        & a {
            color: color.adjust($lightergrey, $lightness: -15%);
            transition: color .3s;
    
            &:hover {
                color: color.adjust($lightergrey, $lightness: -25%)
            }
        }
    }
}

@media screen and (max-width: 1400px) {
    .pro .projects__list {
        max-width: 900px;
    }
}

@media screen and (max-width: 1150px) {
    .loader {
        background-color: $bg-primary
    }

    body.center {
        flex-direction: column;
        background-color: $bg-primary;
    }

    .project__page {
        margin-top: 0;
        margin-bottom: 0;
        background: none;
        box-shadow: none;
        min-width: 200px;
        max-width: none;
        padding: 0;
    }

    .project__navigation {
        flex-direction: row;
        margin-left: 0;
        margin-top: 0;
        padding: 1.5em 1.5em 1em;
        position: relative;
        justify-content: space-evenly;
        background-color: $bg-secondary;
        z-index: -1;

        &--hidden {
            display: block;
            visibility: hidden;
        }
    }

    .project__header {
        background-color: $bg-secondary;
        padding: .1em 2em 1.3em;
    }

    .project__page img[src*="img/pro/vimersio/logo.png"] {
        content: url("/img/pro/vimersio/logo-white.png");
}

    .project__mission {
        padding: .3em 2em .5em;
    }

    .project__page .tags, .project__info, .project__page .project__gallery {
        padding: 0 2em;
    }

    .project__credits {
        font-size: .7em;
        padding: 0 3em;
    }

    .project__gallery {
        &--2, &--2h {
            gap: .8em;
        }
        &--3, &--3v {
            gap: .3em;
        }
        &--4 {
            gap: .3em;
        }
        &--5, &--5h {
            gap: .2em;
        }
    }

    footer {
        padding-top: 2em;
    }
}

@media screen and (max-width: 1120px) {
    .uni .projects__list, .perso .projects__list {
        max-width: 900px;
    }
}

@media screen and (max-width: 1100px) {
    .education {
        max-width: 650px;
        display: inline-grid;
        grid-template-columns: auto auto;
        row-gap: 4em;
    }
}

@media screen and (max-width: 991px) {
    .about {
        gap: 4em;
    }

    .project__page figcaption {
        font-size: .7em;
    }
}

@media screen and (max-width: 830px) {
    h1 {
        font-size: 3.8em;
    }

    header h2 {
        margin-top: -1.1em;
        font-size: 1.5em;
    }

    header {
        padding-top: 1.8em;
        padding-bottom: 2.3em;
    }
    
    .sparkles-left, .sparkles-right {
        transform: scale(.8);
    }

    .sparkles-left {
        top: -.2em;
        left: .8em;
    }

    .sparkles-right {
        top: -.2em;
        left: -.6em;
    }
}

@media screen and (max-width: 730px) {
    h2 {
        font-size: 1.5em;
    }

    .project__dates {
        font-size: 1em;
    }

    .about {
        flex-direction: column-reverse;
    }

    .projects__list {
        gap: .75em;
    }

    .project__gallery--2h {
        flex-wrap: wrap;
    }

    .project__gallery__img--2, .project__gallery__img--2h, .project__gallery__img--3 {
        max-width: 400px;
        margin-bottom: .4em;
    }

    .project__gallery__img--3v {
        max-width: 250px;
        margin-bottom: .4em;
    }

    .project__page table {
        font-size: .75em;
    }
}

@media screen and (max-width: 700px) {
    h1 {
        font-size: 3.1em;
    }

    header h2 {
        margin-top: -1.3em;
        font-size: 1.35em;
    }

    header {
        padding-top: 1.7em;
        padding-bottom: 1.8em;
    }

    .sparkles-left, .sparkles-right {
        transform: scale(.67);
    }

    .sparkles-left {
        top: -.4em;
        left: 1em;
    }

    .sparkles-right {
        top: -.4em;
        left: -.4em;
    }
}

@media screen and (max-width: 603px) {
    h1 {
        font-size: 2.8em;
        text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.1);

        &:hover {
            text-shadow: 5px 5px 0px rgba(0,0,0,0.1);
        }
    }

    .fa-filter {
        display: none;
    }

    .filter .tags {
        margin: 0 1em;
    }

    header h2 {
        font-size: 1.3em;
    }

    .sparkles-left, .sparkles-right {
        transform: scale(.6);
    }

    .sparkles-left {
        left: 1.1em;
    }

    .sparkles-right {
        left: -.2em;
    }

    .project__page table {
        font-size: .7em;
        padding: .2em .7em;
    }

    .quotes {
        &__item {
            gap: 1.2em;
        }
        &__author {
            margin-left: 0;
        }
    }

    .education {
        //display: flex;
        //flex-direction: column-reverse;
        row-gap: 2em;
        column-gap: 3.5em;
    }
}

@media screen and (max-width: 560px) {
    h1 {
        max-width: 220px;
        line-height: .8em;
    }

    header h2 {
        margin-top: -.2em;
    }

    .sparkles-left {
        top: 1.5em;
        left: 1.5em;
    }

    .sparkles-right {
        top: -1em;
        left: -1.2em;
    }

    .quotes__item {
        flex-direction: column;
        gap: 0.5em;
    }
}

@media screen and (max-width: 550px) {
    h2 {
        font-size: 1.3em;
    }

    .project__dates {
        font-size: .9em;
    }

    h3 {
        font-size: 1.9em;
        line-height: 1em;
        margin-bottom: .1em;
    }

    .about {
        padding-bottom: 3em;
    }

    .about p {
        font-size: 1em;
    }

    .projects {
        padding-bottom: 2em;
    }

    .project__logo {
        height: 3.5em;
    }

    .project__mission {
        font-size: .85em;
    }

    .project__info {
        font-size: .8em;
    }

    .project__credits {
        font-size: .8em;
        padding: 0 2em;
    }

    .project__button .project__link {
        font-size: .8em;
    }

    .project__gallery__img--4 {
        max-width: 48%;
    }

    .project__gallery__img--5h {
        max-width: 49%;

        &:nth-child(2) img {
            border-radius: 0 .5em 0 0;
        }

        &:nth-child(5) img {
            border-radius: 0;
        }

        &:nth-last-child(5) img {
            border-radius: 0;
        }

        &:nth-last-child(2) img {
            border-radius: 0 0 0 .5em;
        }

        &:last-child img {
            border-radius: 0 0 .5em 0;
        }
    }

    .project__page table#datascience td:nth-child(2), .project__page table#datascience th:nth-child(2), .project__page table#datascience td:nth-child(3), .project__page table#datascience th:nth-child(3) {
        display: none;
    }

    footer {
        font-size: .65em;
    }

    .quotes {
        __text {
            font-size: .95em;
        }
    }

    .education {
        margin-top: 0;
        row-gap: 1.5em;
        column-gap: 2.5em;
        
        &__year {
            font-size: 1em;
        }
        &__title {
            font-size: 1.5em;
        }
        &__field, &__university {
            font-size: .9em;
        }
        &__city {
            font-size: .7em;
        }
    }
}

@media screen and (max-width: 490px) {
    .education__field br {
        display: none;
    }
}


@media screen and (max-width: 410px) {
    h1 {
        font-size: 2.5em;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.1);
        line-height: .9em;
        margin-bottom: .25em;
        margin-top: .2em;

        &:hover {
            text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
        }
    }

    h2, header h2 {
        font-size: 1.15em;
    }

    .sparkle div {
        background-color: $white;
    }

    .project__dates {
        font-size: .85em;
    }

    h4 {
        font-size: .95em;
    }

    header {
        padding-top: 1.2em;
        padding-bottom: .2em;

        &.bg-primary {
            background-color: $bg-secondary;
        }
    }

    .about {
        margin: 0 2em;
        padding-top: 2em;
        padding-bottom: 2em;

        & p {
            font-size: .9em;
        }
    }

    .projects {
        &__list {
            gap: 1em;
        }

        &__card {
            padding: .7em;
            gap: .7em;
        }
    }

    .pro {
        &__header {
            gap: .5em;
        }

        &__reficon {
            font-size: .9em;
        }

        &__img {
            height: 30px;
        }
    }

    .pro__desc, .art__desc {
        font-size: .8em;
    }

    .uni .projects__card {
        gap: .75em;
    }

    .uni__img {
        height: 60px;
        width: 60px;
    }

    .perso .projects__card {
        gap: .75em;
    }

    .perso__img {
        height: 50px;
    }

    .art {
        &__img {
            height: 35px;
            width: 35px;
        }

        &__desc {
            margin-left: -3.3em;
        }

        &__project {
            width: inherit;
        }

        & .projects__item {
            flex-grow: 1;
        }
    }

    .uni__project .projects__dates, .perso__project .projects__dates, .art__project .projects__dates {
        margin: 0 0 .6em 0;
    }

    .tags span {
        font-size: .73em;
    }

    .project {
        &__navigation {
            padding-top: .8em;
            padding-bottom: .6em;
            justify-content: space-between;

            & .fa-solid {
                font-size: .9em;
            }
        }

        &__logo {
            height: 3em;
        }
    
    }

    .project__navigation, .project__header, .project__mission, .project__page .tags, .project__info, .project__page .project__gallery, .project__credits {
        padding-left: 1em;
        padding-right: 1em;
    }

    .quotes {
        padding-left: 1.5em;
        padding-right: 1.3em;
        margin-top: 1.5em;
        gap: 1em;

        &__item {
            gap: .3em;
        }

        &__text {
            font-size: .85em;
        }

        &__icon {
            font-size: 1.7em;
        }
    }

    .education {
        padding-left: 1.5em;
        padding-right: 1.2em;
        column-gap: 1.7em;
    }
}

@media screen and (max-width: 350px) {
    .pro__project, .uni__project, .perso__project {
        width: inherit;
    }

    .projects__item {
        flex-grow: 1;
    }

    .project__title h2 {
        font-size: 1em;
    }

    h4 {
        font-size: .9em;
    }

    .projects__dates {
        font-size: .75em;
    }

    .art__img {
        height: 30px;
        width: 30px;
    }

    .art__project.projects__card {
        gap: .5em;
    }

    .tags span {
        font-size: .7em;
    }

    .filter .tags {
        max-width: 250px;
    }

    .quotes {
        padding: 0 1em;
    }

    .education {
        display: flex;
        flex-direction: column-reverse;

        &__diploma:last-of-type {
            & .education__field {
                max-width: 195px;
            }
        }
    }
}