/* ----------------------------------- */
/* ----- PRINCIPAUX GROUPEMENTS ----- */
/* --------------------------------- */

html {
  min-height: 100%;
}

body {
  color: #003f6d;
  background-color: #629ac9;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 100%;
}

.wrapper {
  background-image: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.9),
    rgba(210, 236, 245, 0.5));
  position: fixed;
  overflow-x: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

li.proj {
  padding: 0 0.2em;
}

.main {
  margin: auto;
  top:  0;
  left: 0;
  right:0;
  box-sizing: border-box;
}

.main.index {
  background-color: rgba(255, 255, 255, 0.98);
  position: absolute;
  width: 420px;
  height: 530px;
  border-radius: 0.6em;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  bottom: 0;
}

.main.projects {
  background-color: rgba(255, 255, 255, 0.88);
  position: relative;
  width: 900px;
  margin-top: 3%;
  margin-bottom: 3%;
}

.inner {
  padding: 1.5em;
}



/* --------------------------- */
/* ----- TITRES & TEXTE ----- */
/* ------------------------- */

h3, p, li, figcaption {
  font-family: 'Rubik', sans-serif;
}

.main h1 {
  text-align: center;
  font-size: 2.2em;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0;
  text-shadow: 0.052em 0.052em rgba(0, 0, 0, 0.1);

  transition: text-shadow;
  transition-duration: 0.3s;
  -moz-transition-duration: 0.3s; /* Firefox 4 */
  -webkit-transition-duration: 0.3s; /* Safari and Chrome */
  -o-transition-duration: 0.3s; /* Opera */
}

.main h1:hover {
  text-shadow: 0.07em 0.07em rgba(0, 0, 0, 0.12);
}

.main.index h1 {
  font-family: 'Oswald', sans-serif;
}

.main.projects h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.72em;
  font-weight: 900;
  margin-top: 0.6em;
  margin-bottom: 1.3em;
}

.main h2 {
  font-family: 'Rubik', sans-serif;
  font-size: 1em;
  font-weight: 300;
  text-align: center;
  margin: 0;
}

#about {
  font-weight: 300;
  font-size: 0.95em;
  margin-top: 1.4em;
}

.main h3 {
  font-size: 1.1em;
  font-weight: normal;
  margin-top: 0;
}

p, figcaption {
  font-size: 0.9em;
}

em {
  margin-right: 0.07em;
}

.main.index .credits {
  position: absolute;
  bottom: 1em;
  min-width: 88%;
}

.credits p {
  font-size: 0.7em;
  font-weight: 300;
  color: #c0c0c0;
  bottom: 0.5em;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0;
}

.credits a {
  color: #c0c0c0;
}

.credits a:hover {
  color: #a3a3a3;
}

.credits .fas {
  display: inline;
}

.navigation {
  display: table;
  width: 100%;
}

.navigation p {
  display: table-cell;
  padding: 1.2em 0;
}

.navigation .back {
  text-align: left;
  width: 50%;
}

.navigation .home {
  text-align: center;
  width: 0;
}

.navigation .forw {
  text-align: right;
  width: 50%;
}


/* ----------------------- */
/* ----- HYPERLIENS ----- */
/* --------------------- */

#nav a {
  text-decoration: none;
}

#nav a:first-child {
  color: #2f88d3;
}

#nav a:first-child:hover {
  color: #1d518c;
}

#nav a:nth-child(2) {
  color: #2853bf;
}

#nav a:nth-child(2):hover {
  color: #041e59;
}

#nav a:last-child {
  color: #35278f;
}

#nav a:last-child:hover {
  color: #1a103f;
}

a {
  transition: color;
  transition-duration: 0.5s;
  -moz-transition-duration: 0.5s; /* Firefox 4 */
  -webkit-transition-duration: 0.5s; /* Safari and Chrome */
  -o-transition-duration: 0.5s; /* Opera */
}

.main .proj a, a.button, .navigation a {
  color: #0067be;
  text-decoration: none;
}

h1 a {
  color: #276a9b;
  text-decoration: none;
}

.main .proj a:hover, a.button:hover, h1 a:hover, .navigation a:hover {
  color: #003e73;
}

a.button {
  border-style: solid;
  border-width: 1px;
  border-color: #0067be;
  padding: 0.9em 1.4em;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;

  transition: background-color, border-color, color;
  transition-duration: 0.5s;
  -moz-transition-duration: 0.5s; /* Firefox 4 */
  -webkit-transition-duration: 0.5s; /* Safari and Chrome */
  -o-transition-duration: 0.5s; /* Opera */
}

a.button:hover {
  background-color: #e7f2f9;
  border-color: #003e73;
}

p.btn {
  padding: 1em;
  text-align: center;
}

.navigation .back {
  left: 0;
}

.navigation .home {
  left: 48%;
  right: 48%;
}

.navigation .forw {
  right: 0;
}



/* ---------------------------------------------------- */
/* ----- LISTES (NAV INDEX ET LISTE DES PROJETS) ----- */
/* -------------------------------------------------- */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.proj {
  text-align: center;
}

li.proj {
  width: 9em;
  height: 9em;
  padding: 0 1em 1em 1em;
  text-align: center;
  display: inline-block;
}

li.proj img {
  width: 60%;
  height: auto;
}

li.proj p {
  margin: 0;
}

li.proj .projectbox {
  margin-top: 7%;
}



/* ------------------------ */
/* ----- SEPARATIONS ----- */
/* ---------------------- */

.vdivider {
  display: inline-block;
  border-left:1px solid #d9e9f5;
  height:6.5em;
  vertical-align:super;
}

.hdivider hr {
  display: inline-block;
  width: 6.5em;
  height: 1px;
  border: 0;
  border-top: 1px solid #d9e9f5;
  vertical-align: middle;
  margin-left: 2.53em;
  margin-right: 2.53em;
  margin-bottom: 1em;
}

#contact {
  overflow: hidden;
  text-align: center;
}

#contact:before, #contact:after {
  background-color: #9dbeda;
  width: 50%;
}

#contact:before, #contact:after, .main.projects h3:after {
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
}

#contact:before {
  right: 0.6em;
  margin-left: -50%;
}

#contact:after, .main.projects h3:after {
  left: 0.6em;
  margin-right: -50%;
}

.main.projects h3 {
  overflow: hidden;
  text-align: left;
}

.main.projects h3:after {
  background-color: #cadfef;
  width: 96.6%;
}



/* ------------------------------ */
/* ----- ICONS FONTAWESOME ----- */
/* ---------------------------- */

ul .fa-big {
  margin: 0.2em 0.6em 0.3em 0.6em;
  vertical-align:sub;
}

.fa-sml {
  margin: 0 0.2em;
  font-size: 0.8em;
}

.navigation .fa-big {
  vertical-align: middle;
  padding-bottom: 0.15em;
}

.navigation .fa-big.fa-left {
  margin: 0 0.5em 0 0.3em;
}

.navigation .fa-big.fa-right {
  margin: 0 0.3em 0 0.5em;
}

.fa-med {
  font-size: 1.3em;
}

.fa-big {
  font-size: 2em;
}

#contact .fa-med {
  vertical-align: middle;
  margin: 0.4em;
  color: #2f88d3;

  transition: color;
  transition-duration: 0.5s;
  -moz-transition-duration: 0.5s; /* Firefox 4 */
  -webkit-transition-duration: 0.5s; /* Safari and Chrome */
  -o-transition-duration: 0.5s; /* Opera */
}

#contact a:hover .fa-med {
  color: #1c5f98;
}



/* ------------------------------- */
/* ----- IMAGES & GALLERIES ----- */
/* ----------------------------- */

a img {
  transition: opacity;
  transition-duration: 0.5s;
  -moz-transition-duration: 0.5s; /* Firefox 4 */
  -webkit-transition-duration: 0.5s; /* Safari and Chrome */
  -o-transition-duration: 0.5s; /* Opera */
}

a:hover img {
  opacity: 0.6;
}

#imgportrait {
  margin-top: -3em;
  min-width: 100%;
  float: left;
  display: grid;
}

.main #portrait {
  margin: 0 auto 1.5em auto;
  border-radius: 50%;
  border: 2px solid #ffffff;
  min-width: 135px !important;
  height: 135px !important;
  box-shadow: 0.06em 0.06em rgba(0, 0, 0, 0.05);

  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  transition: box-shadow;
  transition-duration: 0.4s;
  -moz-transition-duration: 0.4s; /* Firefox 4 */
  -webkit-transition-duration: 0.4s; /* Safari and Chrome */
  -o-transition-duration: 0.4s; /* Opera */
}

.main #portrait:hover {
  box-shadow: 0.11em 0.11em rgba(0, 0, 0, 0.15);
}

.gallery {
  max-width: 100%;
  text-align: center;
}

.gallery-shadow img {
  display: inline-block;
  box-shadow: 0.07em 0.07em rgba(0, 0, 0, 0.1);

  transition: box-shadow;
  transition-duration: 0.4s;
  -moz-transition-duration: 0.4s; /* Firefox 4 */
  -webkit-transition-duration: 0.4s; /* Safari and Chrome */
  -o-transition-duration: 0.4s; /* Opera */
}

.gallery-shadow img:hover {
  box-shadow: 0.15em 0.15em rgba(0, 0, 0, 0.11);
}

.gallery-border img {
  border-style: solid;
  border-color: #e6e6e6;
  border-width: 1px;
}

.gallery1 img {
  max-width: 100%;
}

.gallery2 img {
  max-width: 47%;
  margin: 0.5em;
  vertical-align: top;
}

.gallery3 img {
  max-width: 30%;
  margin: 0.5em;
  vertical-align: top;
}

.gallery4 img {
  max-width: 22%;
  margin: 0.5em;
  vertical-align: top;
}

figure {
  max-width: 49.5%;
  margin: 0;
  display: inline-block;
  position: relative;
}

figure img {
  max-width: 100%;
  z-index: -1;
}

figure img:first-child {
  margin-left: 0;
  margin-right: 1%;
}

figure img:last-child {
  margin-left: 1%;
  margin-right: 0;
}

figcaption {
  font-weight: 300;
  position: absolute;
  width: 100%;
  height: 1.7em;
  bottom: 0.25em;
  background: rgba(0,0,0,0.7);
  color: #fff;
  padding-top: 0.3em;
  opacity: 0;

  transition: opacity;
  transition-duration: 0.5s;
  -moz-transition-duration: 0.5s; /* Firefox 4 */
  -webkit-transition-duration: 0.5s; /* Safari and Chrome */
  -o-transition-duration: 0.5s; /* Opera */
}

figure:hover figcaption {
  opacity: 100;
}

.tools img {
  height: 45px;
  width: auto;
  margin: 0.7em 0.7em 0.5em 0;
}



/* -------------------------------------- */
/* ----- MEDIA QUERIES (REPONSIVE) ----- */
/* ------------------------------------ */

@media only screen and (max-device-width: 1024px){
  .main.projects {
    max-width: 95%;
  }

  figcaption {
    opacity: 100;
  }

  .credits p {
    font-size: 0.83em;
  }
}

@media only screen and (max-device-width: 810px) and (min-device-height: 1200px) {
  .main p {
    line-height: 1.4em;
  }

  .navigation p {
    font-size: 2vmin;
  }

  .credits p {
    font-size: 0.9em;
  }

  figcaption, li.proj p {
    font-size: 1.8vmin;
  }
}

@media only screen and (max-device-width: 810px) and (max-device-height: 1199px) {
  body {
    background-size: auto 100%;
  }

  .main p {
    line-height: 1.2em;
  }

  .main.projects h3:after {
    display: none;
  }

  figcaption {
    font-size: 1.9vh;
  }

  .navlabel {
    display: none;
  }

  .navigation p {
    font-size: 2.2vh;
  }

  .credits p {
    font-size: 0.8em;
  }

  li.proj p {
    font-size: 1.8vmin;
    line-height: 1.35em;
  }
}

@media only screen and (max-device-width: 810px) and (min-device-height: 320px) and (max-device-height: 420px) {
  li.proj p {
    font-size: 2.8vmin !important;
  }
}

@media only screen and (max-device-width: 630px) {

  .main.projects {
    width: auto;
    margin-top: 2%;
    margin-bottom: 2%;
  }

  .tools img {
    height: 65px;
  }

  .main.projects h1 {
    font-size: 5vh;
    margin: 0.3em 0.3em 0.7em 0.3em;
  }

  .hdivider, .vdivider {
    display: none;
  }

  ul.proj {
    text-align: left;
  }

  li.proj {
    width: 29.4%;
    margin-bottom: 8em;
  }

  li.proj p {
    font-size: 2.3vh;
    line-height: 1.4em;
  }

  .bottom .navigation p {
    padding: 0.7em 0;
  }

  .credits p {
    font-size: 0.75em;
  }
}

@media only screen and (max-device-width: 460px) {
  .main p {
    line-height: 1.3em;
  }

  figure {
    max-width: 100%;
    display: block;
    margin-bottom: 1.3em;
  }

  .gallery2 img {
    min-width: 97%;
    margin-bottom: 1.3em;
  }

  .gallery3 img, .gallery4 img {
    max-width: 47%;
  }

  .gallery3-wide img {
    max-width: 80%;
  }

  p.btn {
    margin-top: 3.5em;
  }

  .tools img {
    height: 90px;
  }

  h3 strong {
    display: block;
    text-transform: uppercase;
  }

  li.proj {
    width: 46%;
    margin-bottom: 18.5em;
  }

  li.proj p {
    font-size: 1.8vh;
    line-height: 1.4em;
  }

  .main.index {
    position: relative;
    margin: 12em 1em 1em 1em;
    width: auto;
    height: auto;
  }

  #about, .main.index p {
    font-size: 0.8em;
    line-height: 1.2em;
  }

  .main.index h2 {
    font-size: 0.95em;
  }

  .main.index .credits {
    position: relative;
    margin-top: 2.2em;
  }

  .main.index .credits p {
    font-size: 0.6em !important;
  }

  #nav {
    font-size: 1.5em;
    line-height: 2.8em;
    margin: 2.5em auto;
  }

  #contact {
    margin: 1.5em 0;
  }

  #contact .fa-med {
    display: inline;
    font-size: 2.8em;
  }

  #contact a {
    text-decoration: none;
  }

  .main.index ul .fa-big {
    margin-right: 1.3em;
  }

  .main.index .inner {
    padding: 2.8em 2.8em 1.5em 2.8em;
  }

  .main.index h1 {
    font-size: 5.3vh;
  }

  .main #portrait {
    min-width: 24vh !important;
    min-height: 24vh !important;
  }

  #imgportrait {
    margin-top: -8em;
    margin-bottom: 3em
  }

}

@media only screen and (min-aspect-ratio:3/2) and (max-device-height:700px) {
  .main.index {
    position: relative;
    margin: 5em auto;
  }
}
