body {
    margin: 0;
    padding: 0;
    background-color: #d1dfe1;
    color: #2d3639;
    font-family: 'Work Sans', sans-serif;
}

header {
    margin: 0;
    padding-top: 2em;
    padding-bottom: 3.1em;
    text-align: center;
}

header, .projects-pro {
    background-color: #e8f1f2;
}

h1, h3 {
    font-family: 'Playfair Display', serif ;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-style: italic;
    font-size: 4.9em;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.1);

    transition: text-shadow 0.3s;
}

h1:hover {
    text-shadow: 7px 7px 0px rgba(0,0,0,0.1);
}

h2 {
    margin-top: -.3em;
    margin-bottom: 0;
    font-size: 1.9em;
    font-weight: 300;
}

h1, h2, h3, p, span {
    letter-spacing: -.02em;
}

h3 {
    font-size: 2.8em;
    margin-bottom: .7em;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.1);

    transition: text-shadow 0.3s;
}

h3:hover {
    text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
}

h4 {
    font-weight: 500;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.07);
}

b {
    font-weight: 600;
}

.about {
    padding-top: 3.1em;
    padding-bottom: 8em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7em;
}

.about p {
    margin-top: 0;
    margin-bottom: .5em;
    font-weight: 400;
    font-size: 1.12em;
}

.tags span {
    background-color: grey;
    margin-right: 0.3em;
    border-radius: 7px;
    padding: 2px 6px 3px 6px;
    color: white;
    font-size: .8em;
    line-height: 1.9em;
    font-family: 'Fira Mono', monospace;
}

.tags .ai {
    background-color: #7dc2ba;
}

.tags .dl {
    background-color: #79bbd4;
}

.tags .nlp {
    background-color: #be9ece;
}

.tags .imagep {
    background-color: #95a1dd;
}

.tags .prog {
    background-color: #e0a4a1;
}

.tags .web {
    background-color: #e7b881;
}

.tags .sql {
    background-color: #c9bdae;
}

.tags .android {
    background-color: #a3cb7b;
}

.sky {
    height: 220px;
    width: 215px;
    background-color: #7bb7cb;
    border-radius: 50% 50% 0 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.sky img {
    width: 78%;
}

.projects-pro, .projects-uni {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3em;
}

.projects-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5em;
    justify-content: center;
    max-width: 1500px;
}

.projects-pro .project {
    width: 290px;
    flex-direction: column;
}

.projects-uni .project {
    flex-direction: row;
    width: 320px;
    align-items: center;
}

.project {
    padding: 1em;
    background-color: #fcfdfd;
    border-radius: 15px;
    display: flex;
    gap: .9em;
}

.project-header {
    display: flex;
    flex-direction: row;
    gap: .8em
}

.projects-pro .project img {
    height: 35px
}

.projects-uni .project img {
    height: 70px;
}

.project h4, .project p {
    margin: 0;
}

.project-dates {
    font-size: .85em;
    color: grey;
}

.project-desc {
    font-size: .9em;
}